@model Simple_Attendance_Tracking.Models.VM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div>
    <form asp-action="Index" method="get">
        <div class="form-group">
            <label class="form-control">StudentName</label>
            <select name="studentId" asp-items="@(new SelectList(Model.Students, "Id", "Name"))" class="form-control">
                <option value="">AllStudents</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control">SubjectName</label>
            <select name="subjectId" asp-items="@(new SelectList(Model.Subjects, "Id", "Name"))" class="form-control">
                <option value="">AllSubjects</option>
            </select>
        </div>
        <div>
            <input type="submit" value="Filter" class="btn btn-primary"/>
        </div>
    </form>
</div>
@if (Model.Attendances != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Attendances[0].Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Attendances)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<p>
    <a asp-action="Create">Create New</a>
</p>